---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";
import { generateArticalIdentity } from '../../scripts/ArticleIdentityGenerator.js';
import { article } from 'framer-motion/client';
import BannerTop from "../../BalkyImages/permissionless.png";
import Arrow from '../../BalkyImages/Arrow 1.png';

const baseURL = 'https://astrowart.netlify.app';

export async function getStaticPaths() {
    const articles = await getCollection('news');
    return articles.map(({data}) => ({
        params: { articleID: generateArticalIdentity(data.title, data.date, data.author) }, // d.data.title, d.data.date, d.data.author  'my title', '3/30/2024', 'web' generateArticalIdentity()
    }));    
}

const { articleID } = Astro.params;
const articles = await getCollection('news', ({ data }) => generateArticalIdentity(data.title, data.date, data.author) === articleID)
const { Content: ArticleContent } = await articles[0].render();
const articleData = articles[0].data;
const articleRelativeLink = `/articles/${generateArticalIdentity(articleData.title, articleData.date, articleData.author )}`

if (!articles) {
    throw new Error(`No article found for ArticleID: ${articleID}`);
}
---

<style>
    .article-grid {
        display: grid;
        grid-template-columns: 3fn 1fn;
        grid-template-areas: 'article-content article-latestStories'
    }
    .bannerBackgroundImage {
        position: relative;
        background-size: cover;
        background-position: center;
        aspect-ratio: 14/6;
        width: 100%;
        min-height: 20rem;
        max-height: 30rem;
    }
    .title{
        color: black;
        font-family: Montserrat;
        font-size: 3.21rem;
        font-weight: 600;
        line-height: 1.188rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    .subTitle{
        font-family: Montserrat;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .category{
        font-family: Montserrat;
        font-size: 0.938rem;
        font-weight: 600;
        line-height: 1.688rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }   
    .shareButton{
        align-items: center;
        padding: .1rem;
        height: 2rem;
        margin-left: 1rem;
        border-radius: .3rem;
        background-color: rgb(209, 209, 209);
    }
    .smallArrow{
        display: inline;
        height: .5rem;
        width: 2rem;
    }
    .content{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 1.688rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

</style>

<BaseLayout title = {articleData.title}>
        <article>
            <script type="module" src="/scripts/WebShare.js"></script>
            <div class="bannerBackgroundImage" style={`background-image: url(${BannerTop.src})`}></div>
            <div class="article-grid">
                <div class="article-content pt-3 pb-3 pl-[5rem] pr-[5rem]">
                    <div class="category">{articleData.category} /</div>
                    <h1 class="title uppercase py-[0.938rem]">{articleData.title}</h1>
                    <div class="subTitle pb-[0.938rem]">Author:{articleData.author} Released:{articleData.date}</div>
                    <div class="pb-[2rem]">
                        <button onclick={`shareContent('${articleData.title}','${`Checkout the latest article from Warthog.Networt! : ${articleData.title}`}','${baseURL}${articleRelativeLink}')`} class="shareButton">SHARE<img class="smallArrow" src={Arrow.src}/></button>
                    </div>
                    <ArticleContent class="content"/>
                </div>
                <div class="article-latestStories px-[2rem]">
                    <ul>
                        <li>Story</li>
                        <li>Story</li>
                        <li>Story</li>
                    </ul>
                </div>
            </div>
            
        </article>
</BaseLayout>