---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";
import { generateArticalIdentity } from '../../scripts/ArticleIdentityGenerator.js';
import { article } from 'framer-motion/client';
import BannerTop from "../BalkyImages/permissionless.png";

export async function getStaticPaths() {
    const articles = await getCollection('news');
    return articles.map(({data}) => ({
        params: { articleID: generateArticalIdentity(data.title, data.date, data.author) }, // d.data.title, d.data.date, d.data.author  'my title', '3/30/2024', 'web' generateArticalIdentity()
    }));    
}

const { articleID } = Astro.params;
const articles = await getCollection('news', ({ data }) => generateArticalIdentity(data.title, data.date, data.author) === articleID)
const { Content: ArticleContent } = await articles[0].render();
const articleData = articles[0].data;

if (!articles) {
    throw new Error(`No article found for ArticleID: ${articleID}`);
}
---

<style>
    .article-grid {
        display: grid;
        grid-template-columns: 3fn 1fn;
        grid-template-areas: 'article-content article-latestStories'
    }

</style>

<BaseLayout title = {articleData.title}>
        <article>
            <script type="module" src="/scripts/WebShare.js"></script>
            <div class="bannerBackgroundImage" style={`background-image: url(${BannerTop.src})`}></div>
            <div class="article-grid">
                <div class="article-grid-content">
                    <h1>{articleData.title}</h1>
                    <p>{articleData.date}</p>
                    <ArticleContent />
                </div>
                <div class="article-grid-latestStories">
                    <div class="article-content"></div>
                    <div class="article-latestStories"></div>
                </div>
            </div>
            
        </article>
</BaseLayout>