---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Get Started'
import '../styles.css';
import Arrow from '../BalkyImages/Arrow 2.svg';
import Wallet from'../BalkyImages/getstartedimgs/wallet.svg';
import Nodes from'../BalkyImages/getstartedimgs/blockchain_nodes.svg';
import GPU from'../BalkyImages/getstartedimgs/gpu.svg';
import Pool from'../BalkyImages/getstartedimgs/pool.svg';

---
<style>
h1{
    font-weight: bold;
}
h3{
    font-size: .8rem;
}

  .section-grids {
    height: 30rem;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fn 1fn ;
    grid-template-areas: 
    'descriptions list';
  }
  @media (max-width:40rem) {
    .section-grids {
    position: relative;
    display: grid;
    grid-template-columns: 1fn ;
    grid-template-areas: 
    'descriptions' 
    'list';
  }
  .descriptions{
    margin-left: .5rem;
        margin-right: .5rem;
        justify-content: center;
        border-color: black;
        border-bottom-style: line;
        border-bottom-width: .13rem;
        border-right-style: none;
        border-right-width: none;
        max-width: 30rem;
        grid-area: descriptions;
        padding: 1rem;
    }
  }
  .descriptions{
    
        border-color: black;
        border-right-style: line;
        border-right-width: .13rem;
        max-width: 30rem;
        margin-top: 1rem;
        grid-area: descriptions;
        padding: 1rem;
    }
.list{
    padding: 1rem;
    font-size: 1.5rem;
  justify-content: start;
  grid-area: list;
}
    header{
        background: radial-gradient(
            circle at 24.1% 68.8%,
            rgb(50, 50, 50) 0%,
            rgb(0, 0, 0) 99.4%
        );
        color: white;
        font-size: 2rem;
    }
    header > section{
        padding: .5rem;
        display: flex;
    }
    header> section> img {
        padding-left: 1rem;
    }
   
  
    p{ 
        max-width: 30rem;}
    .headers{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        display: flex;
        }
        .headers > img{
            padding-left: 1rem;
        }
        h2{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .MiningPool{
            gap: 4rem;
            align-items: center;
            height: 30rem;
            margin-left: 1rem;
            padding: 1rem;
            display: flex;
            justify-content: left;
        }
        .MiningPool-text {
            margin-right: 1rem;
            font-size: .8rem;
        }
        .bggrey{
            background-color: rgb(209, 209, 209);
        }
</style>

<BaseLayout title={title}>
   
<div>
<header>
<section><h3>Get started</h3></section>
<section><h1>WALLETS</h1><img src={Arrow.src}/></section>
<section><h1>NODE</h1><img src={Arrow.src}/></section>
<section><h1>MINING</h1><img src={Arrow.src}/></section>
<section><h1>BUYING</h1><img src={Arrow.src}/></section>

</header>
<section class=" section-grids ">
    <div class="descriptions">
       
            <div class=" headers">
                <h2>Wart dapp (GUI)</h2><img src={Wallet.src}/>
            </div>
            <div>
                 <p>To get started with Warthog network, you need first to create your wallet. 
                     You can currently choose between 3 wallet solutions. 
                        Each of them need an instance of the node, local or public</p>
                         <p>
                            WART DAPP is a GUI wallet working on Windows and Linux. 
                            It works with a node. You can connect it with one click to a 
                            public node, or manually type your node IP.
                        </p>
             </div>
    </div>

    <div class="list">
        <li><a href="https://github.com/warthog-network/wart-dapp/releases">Download</a></li>
        <li><a href="https://warthog.network/docs/guides/wart-dapp/">Guide</a></li>
    
    </div>
</section>
<section class=" section-grids bggrey">
    <div class="descriptions">
       
            <div class=" headers">
                <h2>Wart-Wallet (GUI)</h2><img src={Wallet.src}/>
            </div>
            <div>
                 <p>WART WALLET is also GUI wallet working on Windows and Linux. 
                    It works with a node. You have to manually type your node IP 
                    (local or public)
                </p>
                 
             </div>
    </div>

    <div class="list">
        <li><a href="https://github.com/warthog-network/wart-wallet/releases">Download</a></li>
        <li><a href="https://github.com/warthog-network/wart-wallet/blob/master/README.md">Guide</a></li>
    
    </div>
</section>
<section class=" section-grids ">
    <div class="descriptions">
       
            <div class=" headers">
                <h2>wart-wallet (command-line)</h2><img src={Wallet.src}/>
            </div>
            <div>
                 <p>WART WALLET is also GUI wallet working on Windows and Linux. 
                    It works with a node. You have to manually type your node IP 
                    (local or public)
                </p>
                 
             </div>
    </div>

    <div class="list">
        <li><a href="https://github.com/warthog-network/Warthog/releases">Download</a></li>
        <li><a href="https://warthog.network/docs/guides/wart-wallet-cli/">Guide</a></li>
    
    </div>
</section>
<section class=" section-grids bggrey">
    <div class="descriptions">
       
            <div class=" headers">
                <h2>NODE</h2><img src={Nodes.src}/>
            </div>
            <div>
                 <p>See here if you want to install your node on your computer 
                    (to support the blockchain decentralization, to use your wallet with a local node, 
                    or to mine solo for examples.
                </p>
             </div>
    </div>
    <div class="list">
        <li><a href="https://github.com/warthog-network/Warthog/releases">Download</a></li>
        <li><a href="https://warthog.network/docs/guides/node/">Guide</a></li>
    
    </div>
</section>
<section class="MiningPool ">
            <div>
                <div class="headers">
                <h2 >Mining</h2><img src={GPU.src}/>
                </div>
                <h1>MINING GUIDE</h1>
                 <p class="MiningPool-text">
                    See this guide to start mining now :
                </p>
                <div class="headers">
                <a class="MiningPool-text" href="https://warthog.network/docs/guides/mining-quickstart/">ENGLISH</a>
                <a class="MiningPool-text" href="https://warthog.network/docs/guides/mining-quickstart_fr/">FRENCH</a>
                 </div>   
            </div>
           
            <div >
       
                <div class="headers">
                <h2>Pool</h2><img src={Pool.src}/>
                </div>
                 <p>
                    See here for a list of pools:
                </p>
                <li><a class="MiningPool-text" href="https://miningpoolstats.stream/warthog">Miningpoolstats</a></li><li><a class="MiningPool-text" href="https://warthog.network/docs/links/#pools">DOCS</a></li>
        </div>    
   
</section>
</div>
</BaseLayout>