---
import { generateArticalIdentity } from '../scripts/ArticleIdentityGenerator.js';
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayoutMaxWidth.astro';
import WhereToBuy from '../components/WhereToBuy.astro';
import NEWS1 from '../BalkyImages/NewsPost.png';
import NEWS2 from '../BalkyImages/DevPost.png';
import NEWS3 from '../BalkyImages/BlogPost.png';

const title = 'News Blog';
const baseURL = 'https://warthog.network';

import BannerTop from "../BalkyImages/highlight.svg";
import BlogImage from '../BalkyImages/Warthog_2024_Full Logo.svg';
import Littlewart from '../BalkyImages/littlewart.svg';
import Arrow from '../BalkyImages/Arrow 1.png';

const newsUpdates = await getCollection('news');

const GetArticleImage = (category) => {
  switch (category) {
    case "Developer Diary":
      return NEWS2.src;
    case "News Update":
      return NEWS1.src;
    case "Blog Post":
      return NEWS3.src;
  }
};

const sortedNewsUpdates = Object.values(newsUpdates).sort(
    (a, b) => {
        const dateA = new Date(a.data.date).getTime();
        const dateB = new Date(b.data.date).getTime();

        return dateB - dateA;
    }
);
const latestNewsArticle = sortedNewsUpdates.splice(0, 1)[0];
const latestNewsArticlePreviewContent = latestNewsArticle.body.split(`\n`).slice(0,6).join(`\n`);
const latestNewsArticleRelativeLink = `/articles/${generateArticalIdentity(latestNewsArticle.data.title, latestNewsArticle.data.date, latestNewsArticle.data.author )}`
---

<BaseLayout title = {title}>
        <script type="module" src="/scripts/WebShare.js"></script>
        <div class="BannerExpand">
            <section>
                <div class="bannerBackgroundImage" style={`background-image: url(${BannerTop.src})`}>
                    <div class="bannerBackgroundContent" >
                        <div class="Latest flex">LATEST<img class="ms-2" src={Littlewart.src}/></div>
                        <div class="Title uppercase">{latestNewsArticle.data.title}</div>
                        <div class="PreviewContent" set:html={`${latestNewsArticlePreviewContent}...`}></div>
                        <section class="flex">
                            <a href={latestNewsArticleRelativeLink} class="flex ButtonLong pr-4">READ FULL ARTICLE<img class="small" src={Arrow.src}/></a><button onclick={`shareContent("${latestNewsArticle.data.title}","${`Checkout the latest article from Warthog.Networt! : ${latestNewsArticle.data.title}`}","${baseURL}${latestNewsArticleRelativeLink}")`} class="flex Button ms-8">SHARE<img class="small" src={Arrow.src}/></button>
                        </section>    
                    </div>
                </div>
            </section>
        </div>
        
        
        <section>
            <div class="grid-blogposts">
                {sortedNewsUpdates.map((news) => (
                    <a class="blogpost flex flex-col" href={`/articles/${generateArticalIdentity(news.data.title, news.data.date, news.data.author )}`}>
                        <img class="blogpostbox"  src={GetArticleImage(news.data.category)} alt="logo" />
                        <div class="postCategory uppercase mt-2 mb-1 w-fit">{`${news.data.category}`}</div>
                        <div class="flex flex-row justify-between">
                            <div class="postTitle w-fit">{`${news.data.title}`}</div><div class="postDate">{news.data.date}</div>
                        </div>
                        
                    </a>
                    ))}
            </div>
        <WhereToBuy/>
    </section>
</BaseLayout>

<style >
    /* --Keeping here to check with Balky, see how to handle expansion.
    .BannerExpand {
        background: rgb(31,31,33);
        background: radial-gradient(circle, rgba(31,31,33,1) 0%, rgba(12,12,12,1) 35%, rgba(12,12,12,1) 65%, rgba(31,31,33,1) 100%); 
    }*/
    .Button {
        align-items: center;
        padding: 1.3rem;
        padding-right: .6rem;
        padding-left: .6rem;
        margin-bottom: .2rem;
        height: 2rem;
        border-radius: 0.938rem;
        background-color: rgb(209, 209, 209);
        font-family: Montserrat;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: gray;
    }
    .ButtonLong {
        align-items: center;
        padding: 1.3rem;
        padding-right: 3rem;
        padding-left: .6rem;
        margin-bottom: .2rem;
        height: 2rem;
        border-radius: 0.938rem;
        background-color: rgb(209, 209, 209);
        font-family: Montserrat;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: gray;
    }
    section {
        max-width: 1440px;
        margin: 0 auto;
        width:100%;
    }
    .blogpostbox{
        border-radius: .5rem;
    }
    .bannerBackgroundImage {
        display: flex;
        flex-direction: column;
        background-size: auto 100%;
        background-position: center 30%;
        background-repeat: no-repeat;
        aspect-ratio: 12/5; 
        filter: grayscale(20%) contrast(90%);
        padding-top: 1rem;
    }
    .bannerBackgroundContent {
        margin-top: auto;
        margin-bottom: 2rem;
        margin-left:5rem;
        margin-right:5rem;
    }
    .PreviewContent{
        margin-top: .5rem;
        margin-bottom: .75rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 13px;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }
    .Latest{
        color: white;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
   .Title{
        color: white;
        font-family: Montserrat;
        font-size: 3.125rem;
        font-weight: 600;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        line-height: 3.525rem;
    }
    .small{
        height: .5rem;
        width: 2rem;
    }
    .grid-blogposts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        column-gap: 3rem;
        padding: 2.8rem 5rem;
        margin-bottom: 25rem;
    }
    .blogpost {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        max-width: 400px;
        display: inline-block;
    }
    .blogpostbox { 
        border-radius: .5rem;
    }
    .postCategory {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.12em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1E1E1E;
    }
    .postTitle {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1E1E1E;
    }
    .postDate {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #a6a6a6;
    }
    @media (max-width: 1024px) {
        .bannerBackgroundContent {   
            margin-bottom:1rem;
            margin-left:1rem;
            margin-right: 1rem;
        }
        .grid-blogposts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 3rem;
        padding: 2rem 1rem;
        margin-bottom: 15rem;
        }
        .Title{
            color: white;
            font-family: Montserrat;
            font-size: 2.8rem;
            font-weight: 600;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            line-height: 2.7rem;
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 650px) {
        .PreviewContent{
            display: none;
        }
    }
    @media (max-width: 550px) {
        .grid-blogposts {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 2rem;
            column-gap: 3rem;
            padding: 2rem 1rem;
            margin-bottom: 10rem;
        }
        .Title{
            color: white;
            font-family: Montserrat;
            font-size: 2rem;
            font-weight: 600;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            line-height: 2.3rem;
        }
    }
</style>

