---
import { generateArticalIdentity } from '../scripts/ArticleIdentityGenerator.js';
import BaseLayout from '../layouts/BaseLayout.astro';
import WhereToBuy from '../components/WhereToBuy.astro';

const title = 'News Blog';
const baseURL = 'https://astrowart.netlify.app';

import BannerTop from "../BalkyImages/highlight.svg";
import BlogImage from '../BalkyImages/Warthog_2024_Full Logo.svg';
import Littlewart from '../BalkyImages/littlewart.svg';
import Arrow from '../BalkyImages/Arrow 1.png';

const newsUpdates = await Astro.glob('../content/news/*.md');

const sortedNewsUpdates = Object.values(newsUpdates).sort(
    (a, b) => {
        const dateA = new Date(a.frontmatter.date).getTime();
        const dateB = new Date(b.frontmatter.date).getTime();

        return dateB - dateA;
    }
);
const latestNewsArticle = sortedNewsUpdates.splice(0, 1)[0];
const latestNewsArticlePreviewContent = latestNewsArticle.compiledContent().split(`\n`).slice(0,5).join(`\n`);
const latestNewsArticleRelativeLink = `/articles/${generateArticalIdentity(latestNewsArticle.frontmatter.title, latestNewsArticle.frontmatter.date, latestNewsArticle.frontmatter.author )}`
---

<BaseLayout title = {title}>
    <script type="module" src="/scripts/WebShare.js"></script>
    <div class="bannerBackgroundImage" style={`background-image: url(${BannerTop.src})`}>
        <div class="bannerBackgroundContent" >
            <h2 class="Latest flex">LATEST<img src={Littlewart.src}/></h2>
            <h1 class="Title uppercase">{latestNewsArticle.frontmatter.title}</h1>
            <div class="thin" set:html={`${latestNewsArticlePreviewContent}...`}></div>
            <section class="flex">
                <a href={latestNewsArticleRelativeLink} class="flex aBanner">READ FULL ARTICLE<img class="small" src={Arrow.src}/></a><button onclick={`shareContent('${latestNewsArticle.frontmatter.title}','${`Checkout the latest article from Warthog.Networt! : ${latestNewsArticle.frontmatter.title}`}','${baseURL}${latestNewsArticleRelativeLink}')`} class="flex aBanner">SHARE<img class="small" src={Arrow.src}/></button>
            </section>    
        </div>
    </div>
   
    <ul class="blogpostframe">
        {sortedNewsUpdates.map((news) => (

        <li class="blogpostbox">
            <a href={`/articles/${generateArticalIdentity(news.frontmatter.title, news.frontmatter.date, news.frontmatter.author )}`}><h2 class="blogpostTitle">{news.frontmatter.title}</h2></a>
            <img class="blogimg" src={BlogImage.src}/>
            <p><small>{news.frontmatter.date}</small></p>
            <div set:html={news.compiledContent()}></div>
            
        </li>
        ))}
    </ul>
<WhereToBuy/>
</BaseLayout>

<style>
    h1{
        margin-left: 1rem;
    }
    .blogpostTitle{
        font-weight: bold;
    }
    .blogpostframe{
        margin-top: 1rem;
        padding: 1rem;
    }
    .blogpostbox{
        border-color: rgb(15, 15, 15);
        border-width: .13rem;
        border-radius: .5rem;
        margin-top: 1rem;
        padding: 1rem;
        box-shadow: 15px 17px 15px -5px;
    }
    .bannerBackgroundImage {
        position: relative;
        background-size: cover;
        background-position: center calc(60%);
        aspect-ratio: 16/7;
        width: 100%;
        min-height: 20rem;
        max-height: 30rem;
    }
    .bannerBackgroundImageB {
        position: relative;
        min-height: 20rem;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        max-height: 25rem;
        aspect-ratio: 16/7;
    }
    .bannerBackgroundContent {
        position:absolute;
        bottom:0;
       
        margin-bottom: 2rem;
        margin-left:.5rem;
    }

    .bannerimg{
        object-fit: cover;
        width:100%;
        max-height: 25rem;
    }
    .blogimg{
        text-align: center;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width:100%;
        max-width: 30rem;
    }
    .Bannertext{
        margin-top: -12rem;
    }
    .bold{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        color: black;
    }
    .thin{
        margin-left: 1rem;
        margin-top: .5rem;
        margin-bottom: .75rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 13px;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }
    a{}
    .Latest{
        margin-left: 1rem;
        color: white;
    }
   .Title{
        font-weight: bold;
        font-size: 2.4rem;
        color: white;
    }
    .aBanner{
        font-size: .8rem;
        align-items: center;
        padding: .1rem;
        margin-left: 1rem;
        border-radius: .3rem;
        background-color: rgb(209, 209, 209);
    }
    .small{
    
        height: .5rem;
        width: 2rem;
    }
    @media (max-width: 650px) {
    .Bannertext{
        margin-top: -8.5rem;
    }
    .thin{
        display: none;
        margin-left: 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 10px;
        font-weight: 300;
        color: gray;
    }
}
</style>

