---
import Xeggex from '../BalkyImages/wheretobuyimgs/xeggex.png';
import Discord from '../BalkyImages/wheretobuyimgs/discord.svg';
import Exibitron from '../BalkyImages/wheretobuyimgs/exibitron.png';
import Tradeogre from '../BalkyImages/wheretobuyimgs/tradeogre.png';
import Caldera from '../BalkyImages/wheretobuyimgs/caldera.png';

---


<style>
  h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  a{
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    display: block;
    border-radius: .5rem;
    width: 7rem;
    height: 11rem;
    background-color: black;
    padding: 1rem;
  }
    .NEWS{
     
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.title{
  text-shadow: 5px 1px 4px  rgb(88, 88, 88);
}


@media screen and (min-width: 1024px) {
    .NEWS{
      height: 20rem;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  a{
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    display: block;
    border-radius: .5rem;
    width: 10rem;
    height: 13rem;
    background-color: black;
    padding: 1rem;
  }
}
</style>
<h1 id="wheretobuy" class="title">Where to Buy?</h1>
<section  class="NEWS">
    
 <a class="p-10" href='https://xeggex.com/market/WART_USDT'>
        <img class=''  src={Xeggex.src} alt="logo" /><p class="">Xeggex</p>
 </a>
 <a class="p-10" href='https://discord.com/login?redirect_to=%2Fchannels%2F1126486458698584107%2F1133081739816861716'>
   <img class=''  src={Discord.src} alt="logo" /> <p class="">Discord P2P trade</p>
</a>

<a class="p-10" href='https://app.exbitron.com/login/?returnUrl=%2Ftrade%2F%3Fmarket%3Dwart-usdt'>
   <img class=''  src={Exibitron.src} alt="logo" /> <p class="">Exbitron exchange</p>
</a>
<a class="p-10" href='https://tradeogre.com/exchange/WART-USDT'>
  <img class=''  src={Tradeogre.src} alt="logo" /><p class="">Tradeogre exchange</p>
</a>
<a class="p-10" href='https://discord.com/channels/1126486458698584107/1205481571109445633'>
  <img class=''  src={Caldera.src} alt="logo" /><p class="">Discord Caldera bot</p>
</a>
</section>