---
import Xeggex from '../BalkyImages/wheretobuyimgs/xeggex.png';
import CoinEx from '../BalkyImages/wheretobuyimgs/coinex.svg';
import BitCom from '../BalkyImages/wheretobuyimgs/bit.webp';
import Exibitron from '../BalkyImages/wheretobuyimgs/exibitron.png';
import Tradeogre from '../BalkyImages/wheretobuyimgs/tradeogre.png';


---


<style>
  h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  a{
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    display: block;
    border-radius: .5rem;
    width: 7rem;
    height: 11rem;
    background-color: black;
    padding: 1rem;
    
  }
    .NEWS{
    
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.title{
  text-shadow: 5px 1px 4px  rgb(88, 88, 88);
}

@media screen and (max-width: 624px) {
    .NEWS{
      height: 40rem;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
}
.coinex{
  padding-top: 4rem;
}
.coinex >img {
  padding-bottom: 2rem;
}
.bit{
  padding-top: 3rem;
}
.bit >img {

padding-bottom: 1.3rem;
}
.xeggex >img {
  padding-bottom: 1.5rem;
}
.exbitron >img {
  padding-bottom: .75rem;
}
.ogre >img {
  padding-bottom: .75rem;
}
@media screen and (min-width: 1024px) {
    .NEWS{
      height: 20rem;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  a{
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    display: block;
    border-radius: .5rem;
    width: 10rem;
    height: 13rem;
    background-color: black;
    padding: 1rem;
  }
  .xeggex >img {
  padding-bottom: 1rem;
}
.coinex >img {
  padding-bottom: 3rem;
}
.exbitron >img {
  padding-bottom: .5rem;
}
.ogre >img {
  padding-bottom: .5rem;
}
}
</style>
<h1 id="wheretobuy" class="title">Where to Buy?</h1>
<section  class="NEWS">
    
<a class="p-10 xeggex" href='https://xeggex.com/market/WART_USDT'>
       <img class=''  src={Xeggex.src} alt="logo" /><p class="">Xeggex</p>
</a>
<a class="p-10 coinex" href='https://www.coinex.com/en/exchange/WART-USDT'>
  <img class=''  src={CoinEx.src} alt="logo" /> <p class="">CoinEx</p>
</a>
<a class="p-10 bit" href='https://www.bit.com/spot?pair=WART-USDT'>
  <img class=''  src={BitCom.src} alt="logo" /> <p class="">Bit.com</p>
</a>
<a class="p-10 exbitron" href='https://app.exbitron.com/login/?returnUrl=%2Ftrade%2F%3Fmarket%3Dwart-usdt'>
  <img class=''  src={Exibitron.src} alt="logo" /> <p class="">Exbitron exchange</p>
</a>
<a class="p-10 ogre" href='https://tradeogre.com/exchange/WART-USDT'>
  <img class=''  src={Tradeogre.src} alt="logo" /><p class="">Tradeogre exchange</p>
</a>

</section>
